body {
  margin:0;
  overflow: hidden;
}


.content-position {
//  position: relative;
  padding-left: 0px;
}
.content-position.pinned {
  padding-left: 256px;          /*256+24*/
}
.app-bar-position {
//  position: relative;
  padding-left: 24px;
}
.app-bar-position.pinned {
  padding-left: 280px !important;          /*256+24*/
}

.notification-error span {
  color: red
}
